.root {
    display: flex;
    gap: 8px;
}

.option {
    cursor: pointer;
    height: 20px;
    width: 20px;
    transition: padding 100ms;
    border: solid 1px var(--grey);
}

.option .colorBox {
    width: 100%;
    height: 100%;
}

.option:hover,
.option.selected {
    border-color: var(--charcoal-black);
    padding: 2px;
}

.option:hover .colorBox,
.option.selected .colorBox {
    border: solid 1px var(--grey);
}

.option.hasError {
    border-color: var(--red);
}
