:root {
    //fonts
    --my-pretty-font: 'DM Sans', sans-serif;

    //titles
    --extra-large-thin-title: 100 65px/1.2 'DM Sans', sans-serif;
    --large-thin-title: 100 45px/1.4 'DM Sans', sans-serif;
    --large-title: 400 45px/1.4 'DM Sans', sans-serif;
    --large-title-mobile: 400 30px/1.4 'DM Sans', sans-serif;
    --medium-title: 300 20px/1.4 'DM Sans', sans-serif;
    --medium-bold-title: 700 20px/1.4 'DM Sans', sans-serif;
    --small-title: 700 16px/1.4 'DM Sans', sans-serif;
    --extra-small-title: 700 11px/1.4 'DM Sans', sans-serif;

    //paragraph
    --large-paragraph: 400 52px/1.6 'DM Sans', sans-serif;
    --medium-paragraph: 400 34px/1.4 'DM Sans', sans-serif;
    --medium-paragraph-bold: 1000 42px/1.4 'DM Sans', sans-serif;
    --small-text-font-bold: 1000 24px/1.4 'DM Sans', sans-serif;

    //text
    --extra-large-text: 400 60px/1.4 'DM Sans', sans-serif;
    --small-text: 400 16px/1.4 'DM Sans', sans-serif;
    --extra-small-text: 400 12px/1.45 'DM Sans', sans-serif;
}
